@model WorkoutApp.Model.Exercise
/*Need to add new model?

@{
    ViewBag.Title = "AddExercise";
}

<h2>Add Exercise</h2>

@using( Html.BeginForm())
{
    <table>
        <tr>
            <th>
                Muscle Group
            </th>
            <th>
                Exercise Name
            </th>
            <th>
                Set 1 Weight
            </th>
            <th>
                Set 1 Reps
            </th>
        </tr>
    </table>
}